body{
    /* background-color: rgb(16, 184, 142); */
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo{
    width: 150px; 
}
.navitems ul{ 
    display: flex;
    list-style: none; 
    align-items: center;
}
.navitems ul li{
    margin: 10px;
    font-size: 18px;
    padding: 10px;
}


.search {
    padding: 10px;
}

.res-cards{
    background: linear-gradient(#a3a1a3,#cecccc, #2e2e2e);
    padding: 5px;
    width: 200px;
    margin: 6px;
    border-radius: 10px;   
    box-shadow: 2px 2px 5px gray, -2px -2px 5px lightgray;
}

.res-cards:hover{
    border: 1px solid black;
    cursor: pointer;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-logo{
    width: 100%;
}

.filter-btn{
    margin: 8px;
    padding: 4px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

@keyframes animateBg {
        0% {
          filter: invert(0%);
        }
        50% {
          filter: invert(100%);
        }
        100% {
          filter: invert(0%);
        }
}
.shimmer-card{
    height: 450px;
    margin: 3px;
    background: linear-gradient(white, black);
    width: 210px;
    animation: animateBg 5s linear infinite;    
}



.login{
    padding: 0px 10px;
    margin: 0px 5px ;
    cursor: pointer;
    box-sizing: border-box;
}

.filter{
    display: flex;
}

.user{
    padding: 5px;
    border: 1px solid black;
}